extends layout

block content
  script(src='/socket.io/socket.io.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEbV8vEqNz23z3woseCSSZZgCx_Ssz4A0&libraries=geometry')
  h1= title
  test
